fx-Common/src/main/resources/IPEvents.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://com.mediasmiths.foxtel.ip.common.events/001/000"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://com.mediasmiths.foxtel.ip.common.events/001/000"
	xmlns:fns="http://com.mediasmiths.foxtel.ip.common.events/001/000"
	elementFormDefault="qualified" attributeFormDefault="unqualified"
	version="1.0">

	<xs:complexType name="IPEvent">
		<xs:annotation>
			<xs:documentation>The root type for events about the IP service
				infrastructure.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
		</xs:sequence>
	</xs:complexType>


	<xs:complexType name="FilePickup">
		<xs:complexContent>
			<xs:annotation>
				<xs:documentation>The definition for File Pickup Details.
				</xs:documentation>
			</xs:annotation>
			<xs:extension base="fns:IPEvent">
				<xs:sequence>
					<xs:element name="pickUpKind" type="FilePickUpKinds" />
					<xs:element name="filePath" type="xs:string"/>
					<xs:element name="filename" type="xs:string"/>
					<xs:element name="timeDiscovered" type="xs:dateTime"/>
					<xs:element name="timeProcessed" type="xs:dateTime"/>
					<xs:element name="aggregator" type="xs:string"/>
					<xs:element name="waitTime" type="xs:long"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>


	<xs:complexType name="CommFailure">
		<xs:complexContent>
			<xs:annotation>
				<xs:documentation>The details of a component or infrastructure
					communication failure.
				</xs:documentation>
			</xs:annotation>
			<xs:extension base="fns:IPEvent">
				<xs:sequence>
					<xs:element name="source" type="xs:string" />
					<xs:element name="target" type="xs:string" />
					<xs:element name="failureShortDesc" type="xs:string" />
					<xs:element name="failureLongDescription" type="xs:string"
						minOccurs="0" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="StorageUsageDetails">
		<xs:annotation>
			<xs:documentation>The Details of Storage use for a particular mount
				point
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="fileSystemReference" type="xs:string"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="megaBytesUsed" type="xs:double"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="megaBytesFree" type="xs:double"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>


	<xs:complexType name="DeliveryDetails">
		<xs:complexContent>
			<xs:annotation>
				<xs:documentation>The definition a delivery (successful or not)
				</xs:documentation>
			</xs:annotation>
			<xs:extension base="fns:IPEvent">
				<xs:sequence>
					<xs:element name="materialID" type="xs:string"/>
					<xs:element name="assetID" type="xs:string"/>
					<xs:element name="jobName" type="xs:string"/>
					<xs:element name="title" type="xs:string" />
					<xs:element name="fileLocation" type="xs:string" />
					<xs:element name="channels" type="xs:string"/>
					<xs:element name="taskStatus" type="xs:string"/>
					<xs:element name="exportType" type="xs:string"/>
					<xs:element name="titleLength" type="xs:string"/>
					<xs:element name="delivered" type="xs:boolean" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="PreviewEventDetail">
		<xs:complexContent>
			<xs:annotation>
				<xs:documentation>A Preview has been performed and this captures the
					outcome
				</xs:documentation>
			</xs:annotation>
			<xs:extension base="fns:IPEvent">
				<xs:sequence>
					<xs:element name="masterId" type="xs:string" />
					<xs:element name="title" type="xs:string" />
					<xs:element name="op" type="PreviewStatus" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:element name="ComplianceLoggingMarker">
	<xs:complexType>
        <xs:complexContent>
        <xs:extension base="fns:IPEvent">
        <xs:sequence>
            <xs:element type="xs:string" name="MasterID" />
            <xs:element type="xs:string" name="TitleField" />
            <xs:element type="xs:string" name="Loggerdetails" />
            <xs:element name="emailaddresses" type="emailaddresses" />
        </xs:sequence>
        </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    </xs:element>

	<xs:complexType name="ComplianceLogging">
		<xs:complexContent>
			<xs:annotation>
				<xs:documentation>The ComplianceLogging report type
				</xs:documentation>
			</xs:annotation>
			<xs:extension base="fns:IPEvent">
				<xs:sequence>
					<xs:element name="title" type="xs:string" />
					<xs:element name="materialID" type="xs:string"/>
					<xs:element name="channels" type="xs:string"/>
					<xs:element name="taskStatus" type="xs:string"/>
					<xs:element name="taskFinish" type="xs:date"/>
					<xs:element name="externalCompliance" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="Export">
		<xs:complexContent>
			<xs:annotation>
				<xs:documentation>The Export report type
				</xs:documentation>
			</xs:annotation>
			<xs:extension base="fns:IPEvent">
				<xs:sequence>
					<xs:element name="title" type="xs:string" />
					<xs:element name="materialID" type="xs:string"/>
					<xs:element name="channels" type="xs:string"/>
					<xs:element name="taskStatus" type="xs:string"/>
					<xs:element name="exportType" type="xs:string"/>
					<xs:element name="titleLength" type="smpteTimecode"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="ArdomeJobFailure">
	<xs:complexType>
	<xs:complexContent>
		<xs:annotation>
			<xs:documentation>A type to represent an ArdomeJobFailure event
			</xs:documentation>
		</xs:annotation>
		<xs:extension base="fns:IPEvent">
			<xs:sequence>
				<xs:element name="assetID" type="xs:string" />
				<xs:element name="jobID" type="xs:string" />
			</xs:sequence>
		</xs:extension>
	</xs:complexContent>
	</xs:complexType>
	</xs:element>


    <xs:complexType abstract="true" name="autoQCRequest">
        <xs:sequence>
            <xs:element name="assetId" type="xs:string" />
            <xs:element name="forTXDelivery" type="xs:boolean" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="autoQCErrorNotification">
        <xs:complexContent>
            <xs:extension base="autoQCResultNotification">
            	<xs:sequence>
            		<xs:element name="failureParameter" type="xs:string"/>
            	</xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType abstract="true" name="autoQCResultNotification">
        <xs:sequence>
            <xs:element name="assetId" type="xs:string" />
            <xs:element name="jobId" type="xs:string" />
            <xs:element name="materialID" type="xs:string" />
            <xs:element name="forTXDelivery" type="xs:boolean" />
            <xs:element name="title" type="xs:string" />
			<xs:element name="channels" type="xs:string"/>
            <xs:element name="contentType" type="xs:string"/>
			<xs:element name="operator" type="xs:string"/>
			<xs:element name="taskStatus" type="xs:string"/>
			<xs:element name="qcStatus" type="xs:string"/>
			<xs:element name="taskStart" type="xs:string"/>
			<xs:element name="taskFinish" type="xs:dateTime"/>
			<xs:element name="warningTime" type="xs:string"/>
			<xs:element name="manualOverride" type="xs:string"/>
			<xs:element name="titleLength" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getQCProfileResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="profile" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="invokeIntalioQCFlow">
        <xs:complexContent>
            <xs:extension base="autoQCRequest">
                <xs:sequence/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="assetTransferForQCRequest">
        <xs:complexContent>
            <xs:extension base="autoQCRequest">
                <xs:sequence />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="tcNotification">
        <xs:sequence>
            <xs:element minOccurs="0" name="taskID" type="xs:string" />
            <xs:element minOccurs="0" name="assetID" type="xs:string" />
            <xs:element minOccurs="0" name="title" type="xs:string" />
            <xs:element minOccurs="0" name="packageID" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="tcPassedNotification">
        <xs:complexContent>
            <xs:extension base="fns:tcNotification"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="tcFailureNotification">
        <xs:complexContent>
            <xs:extension base="fns:tcNotification"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="tcTotalFailure">
        <xs:complexContent>
            <xs:extension base="fns:tcNotification"/>
        </xs:complexContent>
    </xs:complexType>


    <xs:complexType name="materialTransferForTCResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="destination" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="invokeIntalioTXFlow">
        <xs:sequence>
            <xs:element name="packageID" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="materialTransferForTCRequest">
        <xs:sequence>
            <xs:element name="assetID" type="xs:string" />
            <xs:element name="forTX" type="xs:boolean" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="assetTransferForQCResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="destination" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="invokeIntalioTCFlow">
        <xs:sequence>
            <xs:element name="assetID" type="xs:string" />
            <xs:element name="forTX" type="xs:boolean" />
            <xs:element name="outputFolder" type="xs:string" />
            <xs:element minOccurs="0" name="requiredDate" type="xs:dateTime" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="autoQCFailureNotification">
        <xs:complexContent>
            <xs:extension base="autoQCResultNotification">
                <xs:sequence />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="autoQCPassNotification">
        <xs:complexContent>
            <xs:extension base="autoQCResultNotification">
                <xs:sequence />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="txDeliveryFailure">
        <xs:sequence>
            <xs:element minOccurs="0" name="packageID" type="xs:string" />
            <xs:element minOccurs="0" name="stage" type="xs:string" />
            <xs:element minOccurs="0" name="jobName" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

	<xs:simpleType name="PreviewStatus">
		<xs:annotation>
			<xs:documentation>A list of the types of Preview events
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="PreviewFailed" />
			<xs:enumeration value="PreviewFurtherAnalysis" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FilePickUpKinds">
		<xs:annotation>
			<xs:documentation>A list of the types of File Pickups with the IP
				Platform
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Placeholder" />
			<xs:enumeration value="Media" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="PlaceholderMessage">
		<xs:sequence>
			<xs:element name="title" type="xs:string"/>
			<xs:element name="materialID" type="xs:string"/>
			<xs:element name="channels" type="xs:string" minOccurs="0"/>
			<xs:element name="orderRef" type="xs:string" minOccurs="0"/>
			<xs:element name="requiredBy" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="completedInDateRange" type="xs:string" minOccurs="0"/>
			<xs:element name="overdueInDateRange" type="xs:string" minOccurs="0"/>
			<xs:element name="aggregatorID" type="xs:string" minOccurs="0"/>
			<xs:element name="taskType" type="xs:string" minOccurs="0"/>
			<xs:element name="completionDate" type="xs:dateTime" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ContentPickup">
		<xs:sequence>
			<xs:element name="title" type="xs:string"/>
			<xs:element name="materialID" type="xs:string"/>
			<xs:element name="channels" type="xs:string" minOccurs="0"/>
			<xs:element name="aggregatorID" type="xs:string" minOccurs="0"/>
			<xs:element name="tapeDelivery" type="xs:boolean" minOccurs="0"/>
			<xs:element name="fileDelivery" type="xs:boolean" minOccurs="0"/>
			<xs:element name="format" type="xs:string" minOccurs="0"/>
			<xs:element name="filesize" type="xs:string" minOccurs="0"/>
			<xs:element name="titleLength" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="ManualQA">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="dateRange" type="xs:string" minOccurs="0"/>
				<xs:element name="title" type="xs:string" />
				<xs:element name="materialID" type="xs:string"/>
				<xs:element name="channels" type="xs:string"/>
				<xs:element name="operator" type="xs:string"/>
				<xs:element name="aggregatorID" type="xs:string"/>
				<xs:element name="taskStatus" type="xs:string"/>
				<xs:element name="previewStatus" type="xs:string"/>
				<xs:element name="hrPreview" type="xs:string"/>
				<xs:element name="hrPreviewRequested" type="xs:string"/>
				<xs:element name="escalated" type="xs:string" minOccurs="0"/>
				<xs:element name="timeEscalated" type="xs:string"/>
				<xs:element name="titleLength" type="xs:string"/>
				<xs:element name="reordered" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:simpleType name="smpteTimecode" final="restriction">
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-1][0-9]|[2][0-3]):([0-5][0-9]):([0-5][0-9]):([0-1][0-9]|[2][0-4])"/>
		</xs:restriction>
	</xs:simpleType>




    <xs:complexType name="emailaddresses">
        <xs:sequence>
            <xs:element type="xs:string" name="emailaddress"
                        maxOccurs="unbounded" minOccurs="1" />
        </xs:sequence>
    </xs:complexType>


	
</xs:schema>
