fx-Common/src/main/resources/IPEvents.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://com.mediasmiths.foxtel.ip.common.events/001/000"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://com.mediasmiths.foxtel.ip.common.events/001/000"
	xmlns:fns="http://com.mediasmiths.foxtel.ip.common.events/001/000"
	elementFormDefault="qualified" attributeFormDefault="unqualified"
	version="1.0">

	<xs:element name="IPEventElement" type="IPEvent" />
	<xs:complexType name="IPEvent">
		<xs:annotation>
			<xs:documentation>The root type for events about the IP service
				infrastructure.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
		</xs:sequence>
	</xs:complexType>


	<xs:complexType name="FilePickup">
		<xs:complexContent>
			<xs:annotation>
				<xs:documentation>The definition for File Pickup Details.
				</xs:documentation>
			</xs:annotation>
			<xs:extension base="fns:IPEvent">
				<xs:sequence>
					<xs:element name="pickUpKind" type="FilePickUpKinds" />
					<xs:element name="filePath" type="xs:string"/>
					<xs:element name="filename" type="xs:string"/>
					<xs:element name="timeDiscovered" type="xs:dateTime"/>
					<xs:element name="timeProcessed" type="xs:dateTime"/>
					<xs:element name="aggregator" type="xs:string"/>
					<xs:element name="waitTime" type="xs:long"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>


	<xs:complexType name="CommFailure">
		<xs:complexContent>
			<xs:annotation>
				<xs:documentation>The details of a component or infrastructure
					communication failure.
				</xs:documentation>
			</xs:annotation>
			<xs:extension base="fns:IPEvent">
				<xs:sequence>
					<xs:element name="source" type="xs:string" />
					<xs:element name="target" type="xs:string" />
					<xs:element name="failureShortDesc" type="xs:string" />
					<xs:element name="failureLongDescription" type="xs:string"
						minOccurs="0" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="StorageReport">
		<xs:complexContent>
			<xs:annotation>
				<xs:documentation>The details of storage use within the
					infrastructure.
				</xs:documentation>
			</xs:annotation>
			<xs:extension base="fns:IPEvent">
				<xs:sequence>
					<xs:element name="report" type="fns:StorageUsageDetails"
						minOccurs="1" />

				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="StorageUsageDetails">
		<xs:annotation>
			<xs:documentation>The Details of Storage use for a particular mount
				point
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="fileSystemReference" type="xs:string"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="megaBytesUsed" type="xs:double"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="megaBytesFree" type="xs:double"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>


	<xs:complexType name="DeliveryDetails">
		<xs:complexContent>
			<xs:annotation>
				<xs:documentation>The definition a delivery (successful or not)
				</xs:documentation>
			</xs:annotation>
			<xs:extension base="fns:IPEvent">
				<xs:sequence>
					<xs:element name="masterId" type="xs:string" />
					<xs:element name="title" type="xs:string" />
					<xs:element name="fileLocation" type="xs:string" />
					<xs:element name="delivered" type="xs:boolean" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="PreviewEventDetail">
		<xs:complexContent>
			<xs:annotation>
				<xs:documentation>A Preview has been performed and this captures the
					outcome
				</xs:documentation>
			</xs:annotation>
			<xs:extension base="fns:IPEvent">
				<xs:sequence>
					<xs:element name="masterId" type="xs:string" />
					<xs:element name="title" type="xs:string" />
					<xs:element name="op" type="PreviewStatus" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="ManualQA">
		<xs:complexContent>
			<xs:annotation>
				<xs:documentation>Used for the ManualQA report
				</xs:documentation>
			</xs:annotation>
			<xs:extension base="fns:IPEvent">
				<xs:sequence>
					<xs:element name="title" type="xs:string" />
					<xs:element name="materialID" type="xs:string"/>
					<xs:element name="channels" type="xs:string"/>
					<xs:element name="operator" type="xs:string"/>
					<xs:element name="aggregatorID" type="xs:string"/>
					<xs:element name="taskStatus" type="xs:string"/>
					<xs:element name="hrPreview" type="xs:string"/>
					<xs:element name="hrPreviewRequested" type="xs:string"/>
					<xs:element name="timeEscalated" type="xs:string"/>
					<xs:element name="titleLength" type="smpteTimecode"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="AutoQC">
		<xs:complexContent>
			<xs:annotation>
				<xs:documentation>The AutoQC report type
				</xs:documentation>
			</xs:annotation>
			<xs:extension base="fns:IPEvent">
				<xs:sequence>
					<xs:element name="title" type="xs:string" />
					<xs:element name="materialID" type="xs:string"/>
					<xs:element name="channels" type="xs:string"/>
                    <xs:element name="contentType" type="xs:string"/>
					<xs:element name="operator" type="xs:string"/>
					<xs:element name="taskStatus" type="xs:string"/>
					<xs:element name="qcStatus" type="xs:string"/>
					<xs:element name="taskFinish" type="xs:dateTime"/>
					<xs:element name="warningTime" type="xs:string"/>
					<xs:element name="failureParameter" type="xs:string"/>
					<xs:element name="titleLength" type="smpteTimecode"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="TaskList">
		<xs:complexContent>
			<xs:annotation>
				<xs:documentation>The TaskListStatus report type
				</xs:documentation>
			</xs:annotation>
			<xs:extension base="fns:IPEvent">
				<xs:sequence>
					<xs:element name="taskType" type="xs:string" />
					<xs:element name="channels" type="xs:string"/>
					<xs:element name="taskStatus" type="xs:string"/>
					<xs:element name="requiredBy" type="xs:string"/>
					<xs:element name="operator" type="xs:string"/>
					<xs:element name="department" type="xs:string"/>
					<xs:element name="taskFinish" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="PurgeContent">
		<xs:complexContent>
			<xs:annotation>
				<xs:documentation>The Export report type
				</xs:documentation>
			</xs:annotation>
			<xs:extension base="fns:IPEvent">
				<xs:sequence>
					<xs:element name="entityType" type="xs:string" />
					<xs:element name="title" type="xs:string"/>
					<xs:element name="materialID" type="xs:string"/>
					<xs:element name="channels" type="xs:string"/>
					<xs:element name="isProtected" type="xs:string"/>
					<xs:element name="extended" type="xs:string"/>
					<xs:element name="purged" type="xs:string"/>
					<xs:element name="expires" type="xs:dateTime"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

    <xs:complexType name="ComplianceLoggingMarkerType">
        <xs:complexContent>
        <xs:extension base="fns:IPEvent">
        <xs:sequence>
            <xs:element type="xs:string" name="MasterID" />
            <xs:element type="xs:string" name="TitleField" />
            <xs:element type="xs:string" name="Loggerdetails" />
            <xs:element name="emailaddresses" type="emailaddresses" />
        </xs:sequence>
        </xs:extension>
        </xs:complexContent>
    </xs:complexType>

	<xs:complexType name="ComplianceLogging">
		<xs:complexContent>
			<xs:annotation>
				<xs:documentation>The ComplianceLogging report type
				</xs:documentation>
			</xs:annotation>
			<xs:extension base="fns:IPEvent">
				<xs:sequence>
					<xs:element name="title" type="xs:string" />
					<xs:element name="materialID" type="xs:string"/>
					<xs:element name="channels" type="xs:string"/>
					<xs:element name="taskStatus" type="xs:string"/>
					<xs:element name="taskFinish" type="xs:date"/>
					<xs:element name="externalCompliance" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="Export">
		<xs:complexContent>
			<xs:annotation>
				<xs:documentation>The Export report type
				</xs:documentation>
			</xs:annotation>
			<xs:extension base="fns:IPEvent">
				<xs:sequence>
					<xs:element name="title" type="xs:string" />
					<xs:element name="materialID" type="xs:string"/>
					<xs:element name="channels" type="xs:string"/>
					<xs:element name="taskStatus" type="xs:string"/>
					<xs:element name="exportType" type="xs:string"/>
					<xs:element name="titleLength" type="smpteTimecode"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="ArdomeJobFailure">
	<xs:complexContent>
		<xs:annotation>
			<xs:documentation>A type to represent an ArdomeJobFailure event
			</xs:documentation>
		</xs:annotation>
		<xs:extension base="fns:IPEvent">
			<xs:sequence>
				<xs:element name="assetID" type="xs:string" />
				<xs:element name="jobID" type="xs:string" />
			</xs:sequence>
		</xs:extension>
	</xs:complexContent>
</xs:complexType>

    <xs:complexType name="tcFailureNotification">
        <xs:sequence>
            <xs:element minOccurs="0" name="packageID" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType abstract="true" name="autoQCRequest">
        <xs:sequence>
            <xs:element name="assetId" type="xs:string" />
            <xs:element name="forTXDelivery" type="xs:boolean" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="autoQCErrorNotification">
        <xs:complexContent>
            <xs:extension base="autoQCResultNotification">
                <xs:sequence />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType abstract="true" name="autoQCResultNotification">
        <xs:complexContent>
            <xs:extension base="autoQCRequest">
                <xs:sequence>
                    <xs:element minOccurs="0" name="jobName" type="xs:string" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="getQCProfileResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="profile" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="invokeIntalioQCFlow">
        <xs:complexContent>
            <xs:extension base="autoQCRequest">
                <xs:sequence />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="assetTransferForQCRequest">
        <xs:complexContent>
            <xs:extension base="autoQCRequest">
                <xs:sequence />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="tcPassedNotification">
        <xs:sequence>
            <xs:element minOccurs="0" name="packageID" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="materialTransferForTCResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="destination" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="invokeIntalioTXFlow">
        <xs:sequence>
            <xs:element name="packageID" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="materialTransferForTCRequest">
        <xs:sequence>
            <xs:element name="assetID" type="xs:string" />
            <xs:element name="forTX" type="xs:boolean" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="assetTransferForQCResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="destination" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="invokeIntalioTCFlow">
        <xs:sequence>
            <xs:element name="assetID" type="xs:string" />
            <xs:element name="forTX" type="xs:boolean" />
            <xs:element name="outputFolder" type="xs:string" />
            <xs:element minOccurs="0" name="requiredDate" type="xs:dateTime" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="tcTotalFailure">
        <xs:sequence>
            <xs:element minOccurs="0" name="packageID" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="autoQCFailureNotification">
        <xs:complexContent>
            <xs:extension base="autoQCResultNotification">
                <xs:sequence />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="autoQCPassNotification">
        <xs:complexContent>
            <xs:extension base="autoQCResultNotification">
                <xs:sequence />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="txDeliveryFailure">
        <xs:sequence>
            <xs:element minOccurs="0" name="packageID" type="xs:string" />
            <xs:element minOccurs="0" name="stage" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

	<xs:simpleType name="PreviewStatus">
		<xs:annotation>
			<xs:documentation>A list of the types of Preview events
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="PreviewFailed" />
			<xs:enumeration value="PreviewFurtherAnalysis" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FilePickUpKinds">
		<xs:annotation>
			<xs:documentation>A list of the types of File Pickups with the IP
				Platform
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Placeholder" />
			<xs:enumeration value="Media" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="smpteTimecode" final="restriction">
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-1][0-9]|[2][0-3]):([0-5][0-9]):([0-5][0-9]):([0-1][0-9]|[2][0-4])"/>
		</xs:restriction>
	</xs:simpleType>

    <xs:element name="EmailConfiguration">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="emailaddresses" name="emailaddresses" />
                <xs:element type="xs:string" name="title" />
                <xs:element type="xs:string" name="body" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:complexType name="emailaddresses">
        <xs:sequence>
            <xs:element type="xs:string" name="emailaddress"
                        maxOccurs="unbounded" minOccurs="1" />
        </xs:sequence>
    </xs:complexType>

    <xs:element name="FoxtelEmailConfiguration">
        <xs:complexType>
            <xs:sequence>
                <xs:choice maxOccurs="unbounded">
                    <xs:element name="MailData" type="MailData" />
                </xs:choice>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="MailData">
        <xs:sequence>
            <xs:element type="xs:string" name="namespace" />
            <xs:element type="xs:string" name="eventname" />
            <xs:choice maxOccurs="1">
                <xs:element name="MailTemplate" type="MailTemplate" />
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="MailTemplate">
        <xs:sequence>
            <xs:element name="subject" type="xs:string" />
            <xs:element name="body" type="xs:string" />
            <xs:element name="emailaddresses" type="emailaddresses" />
        </xs:sequence>
    </xs:complexType>

	
</xs:schema>
