fx-MediaExchange/src/main/resources/MediaExchange_V1.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 3 sp1 (http://www.altova.com) by Alan Hurdle (FOXTEL Management Pty Limited) -->
<!-- ===================================================================================== -->
<!-- R E V I S I O N   H I S T O R Y                                                       -->
<!-- ===================================================================================== -->
<!-- Date: 25/08/2011 - Alan Hurdle Changed Schema Version to 1.2                        -->
<!-- Date: 25/08/2011 - Alan Hurdle Removed smpteExtUMID and smpteVerticalParametersAFD    -->
<!-- Date: 25/08/2011 - Alan Hurdle Changed Schema Version to 1.1                          -->
<!-- Date: 25/08/2011 - Alan Hurdle Fixed restriction on AudioTrackNumberType              -->
<!-- Date: 21/10/2010 - Alan Hurdle Initial Version                                        -->
<!-- ===================================================================================== -->
<xs:schema xmlns="http://foxtel.tv/engineering/broadcast/schemas/1/2/mediaExchange" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://foxtel.tv/engineering/broadcast/schemas/1/2/mediaExchange" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  Programme root node  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:element name="Programme">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Detail">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="EXT_CLIP_UMID" type="xs:string" minOccurs="1"/>
							<xs:element name="CATALOG_CODE" type="smpteAdministrativeIdentifiersItemID" minOccurs="0"/>
							<xs:element name="ISAN" type="ISANType" minOccurs="0"/>
							<xs:element name="Title" type="smpteTitlesMainTitle"/>
							<xs:element name="EpisodeNumber" type="smpteTitlesEpisodeNumber"/>
							<xs:element name="Description" type="smpteTitlesSecondaryTitle"/>
							<xs:element name="Annotation" type="smpteTextualDescriptionAbstract" minOccurs="0"/>
							<xs:element name="CreationDate" type="xs:dateTime" minOccurs="0"/>
							<xs:element name="SOM" type="smpteTimecode">
								<xs:annotation>
									<xs:documentation>Start of Message : first frame of the first programme segment</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="EOM" type="smpteTimecode" minOccurs="0">
								<xs:annotation>
									<xs:documentation>End of Message : last frame of the last programme segment</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Duration" type="smpteTimecode">
								<xs:annotation>
									<xs:documentation>Accumalated duration of all the programme segments</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="SUPPLIER" type="smpteOrganizationName" minOccurs="1">
								<xs:annotation>
									<xs:documentation>The rights holder of the original content e.g. Viacom</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="CONTRACT_NUMBER" type="smpteSupplyContractNumber" minOccurs="0"/>
							<xs:element name="COPYRIGHT" type="smpteCopyrightOwner" minOccurs="0"/>
							<xs:element name="MARKET" type="smpteBroadcastChannel" minOccurs="1">
								<xs:annotation>
									<xs:documentation>Channel with the content rights e.g. FOX8</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="DueDate" type="xs:dateTime">
								<xs:annotation>
									<xs:documentation>Date of first scheduled transmission</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="PurgeDate" type="xs:dateTime">
								<xs:annotation>
									<xs:documentation>Date afte which the content can be safely purged without impacting scheduled transmission</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="CensorshipSystem" type="smpteContentCodingSystem" minOccurs="0"/>
							<xs:element name="Classification" type="ClassificationType">
								<xs:annotation>
									<xs:documentation>Parental rating classification according to Australian television and film classification code</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Captioned" type="xs:boolean">
								<xs:annotation>
									<xs:documentation>A boolean flag indicating if the content has closed captioning</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="CaptionType" type="smpteFundementalEssenceCaptionKind" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Indicate the type of captioning data stream</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Resolution" type="ResolutionType" default="SD">
								<xs:annotation>
									<xs:documentation>Resolution of content - Standard or High definition</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="AspectRatio" type="AspectRatioType">
								<xs:annotation>
									<xs:documentation>Aspect ratio of the programme content 4x3 or 16x9</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Colour" type="ColourType" minOccurs="0"/>
							<xs:element name="AudioType" type="AudioListType" minOccurs="1"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Media">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Segments">
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="SegmentListType"/>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="AudioTracks">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Track" maxOccurs="16">
											<xs:complexType>
												<xs:attribute name="number" type="AudioTrackNumberType" use="required"/>
												<xs:attribute name="type" type="AudioTrackType" use="required"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attributeGroup ref="mediaAttributesType"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  Commercial root node  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:element name="Commercial">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Detail">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="EXT_CLIP_UMID" type="xs:string"/>
							<xs:element name="KeyNumber" type="smpteTitlesClipNumber"/>
							<xs:element name="CAD_NUMBER" type="smpteAdministrativeIdentifiersItemID" minOccurs="0"/>
							<xs:element name="Title" type="smpteTitlesMainTitle" minOccurs="0"/>
							<xs:element name="Product" type="smpteTitlesSecondaryTitle" minOccurs="0"/>
							<xs:element name="CreationDate" type="xs:dateTime" minOccurs="0"/>
							<xs:element name="SOM" type="smpteTimecode"/>
							<xs:element name="Duration" type="smpteTimecode"/>
							<xs:element name="AGENCY" type="smpteOrganizationName" minOccurs="0"/>
							<xs:element name="COPYRIGHT" type="smpteCopyrightOwner" minOccurs="0"/>
							<xs:element name="PROD_HOUSE" type="smpteOrganizationName" minOccurs="0"/>
							<xs:element name="AUDIO_HOUSE" type="smpteOrganizationName" minOccurs="0"/>
							<xs:element name="DueDate" type="xs:dateTime"/>
							<xs:element name="PurgeDate" type="xs:dateTime" minOccurs="0"/>
							<xs:element name="Classification" type="ClassificationType" minOccurs="0"/>
							<xs:element name="Captioned" type="xs:boolean" default="false"/>
							<xs:element name="CaptionType" type="smpteFundementalEssenceCaptionKind" minOccurs="0"/>
							<xs:element name="Resolution" type="ResolutionType" default="SD" minOccurs="1"/>
							<xs:element name="AspectRatio" type="AspectRatioType"/>
							<xs:element name="Colour" type="ColourType" default="colour" minOccurs="0"/>
							<xs:element name="AudioType" type="AudioListType" default="stereo"/>
						</xs:sequence>
						<xs:attribute name="type" use="required">
							<xs:annotation>
								<xs:documentation>Clip type : trailer, promotion, etc</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="32"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="Media">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Clip">
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="ClipType">
											<xs:attributeGroup ref="mediaAttributesType"/>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  ResponseMessage root node  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:element name="ResponseMessage">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="dateTime" type="xs:dateTime"/>
				<xs:sequence>
					<xs:element name="status" maxOccurs="unbounded">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="statusResponseType">
									<xs:attribute name="id" use="required">
										<xs:annotation>
											<xs:documentation>Automation identifier</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="32"/>
												<xs:minLength value="1"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  statusResponseType -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:complexType name="statusResponseType">
		<xs:sequence>
			<xs:element name="type">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="SUCCESS"/>
						<xs:enumeration value="FAIL"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="message" type="xs:string"/>
			<xs:element name="description" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  mediaAttributesType  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:attributeGroup name="mediaAttributesType">
		<xs:attribute name="id" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="32"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="filename">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="128"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  AudioTrackType  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:simpleType name="AudioTrackType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Left"/>
			<xs:enumeration value="Right"/>
			<xs:enumeration value="Mono"/>
			<xs:enumeration value="Mix and Effects"/>
			<xs:enumeration value="Stereo"/>
			<xs:enumeration value="Dual Mono"/>
			<xs:enumeration value="Dolby E"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  AudioTrackNumberType  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:simpleType name="AudioTrackNumberType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  AspectRatioType  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:simpleType name="ResolutionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SD"/>
			<xs:enumeration value="HD"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  AspectRatioType  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:simpleType name="AspectRatioType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="4x3"/>
			<xs:enumeration value="16x9"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  ClassificationType  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:simpleType name="ClassificationType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="G"/>
			<xs:enumeration value="PG"/>
			<xs:enumeration value="M"/>
			<xs:enumeration value="MA15+"/>
			<xs:enumeration value="R18+"/>
			<xs:enumeration value="NC"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  ColourType  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:simpleType name="ColourType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="32"/>
			<xs:enumeration value="black and white"/>
			<xs:enumeration value="colourized"/>
			<xs:enumeration value="colour"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  SegmentListType  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:simpleType name="AudioListType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="32"/>
			<xs:enumeration value="mono"/>
			<xs:enumeration value="stereo"/>
			<xs:enumeration value="surround"/>
			<xs:enumeration value="digital"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  SegmentListType  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:complexType name="SegmentListType">
		<xs:sequence>
			<xs:element name="Segment" maxOccurs="99">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="ClipType">
							<xs:attribute name="number" use="required">
								<xs:simpleType>
									<xs:restriction base="xs:positiveInteger">
										<xs:minInclusive value="1"/>
										<xs:maxInclusive value="99"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  ClipType  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:complexType name="ClipType">
		<xs:sequence>
			<xs:element name="Title">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="127"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SOM" type="smpteTimecode"/>
			<xs:element name="EOM" type="smpteTimecode" minOccurs="0"/>
			<xs:element name="Duration" type="smpteTimecode"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  ISANType  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:complexType name="ISANType">
		<xs:attribute name="root" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="([0-9A-F]{4})-([0-9A-F]{4})-([0-9A-F]{4})"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="episode" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="([0-9A-F]{4})"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="version" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="([0-9A-F]{4})-([0-9A-F]{4})"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  smpteTimecode  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:simpleType name="smpteTimecode" final="restriction">
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-1][0-9]|[2][0-3]):([0-5][0-9]):([0-5][0-9]):([0-1][0-9]|[2][0-4])"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  smpteCensorshipSystem  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:simpleType name="smpteContentCodingSystem" final="restriction">
		<xs:restriction base="xs:string">
			<xs:maxLength value="31"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  smpteCensorshipSystem  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:simpleType name="smpteBroadcastChannel" final="restriction">
		<xs:restriction base="xs:string">
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  smpteSupplyContractNumber -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:simpleType name="smpteSupplyContractNumber" final="restriction">
		<xs:restriction base="xs:string">
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  smpteOrganizationName -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:simpleType name="smpteOrganizationName" final="restriction">
		<xs:restriction base="xs:string">
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  smpteCopyrightOwner  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:simpleType name="smpteCopyrightOwner" final="restriction">
		<xs:restriction base="xs:string">
			<xs:maxLength value="127"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  smpteTextualDescriptionAbstract  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:simpleType name="smpteTextualDescriptionAbstract" final="restriction">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1024"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  smpteTitlesMainTitle  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:simpleType name="smpteTitlesMainTitle" final="restriction">
		<xs:restriction base="xs:string">
			<xs:maxLength value="127"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  smpteTitlesSecondaryTitle  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:simpleType name="smpteTitlesSecondaryTitle" final="restriction">
		<xs:restriction base="xs:string">
			<xs:maxLength value="127"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  smpteTitlesEpisodeNumber  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:simpleType name="smpteTitlesEpisodeNumber" final="restriction">
		<xs:restriction base="xs:string">
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  smpteTitlesClipNumber  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:simpleType name="smpteTitlesClipNumber" final="restriction">
		<xs:restriction base="xs:string">
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  smpteAdministrativeIdentifiersItemID  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:simpleType name="smpteAdministrativeIdentifiersItemID" final="restriction">
		<xs:restriction base="xs:string">
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  smpteFundementalEssenceCaptionKind  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:simpleType name="smpteFundementalEssenceCaptionKind" final="restriction">
		<xs:restriction base="xs:string">
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
