fx-OutputRuzz/src/main/resources/RuzzContentRegisterAPI.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 2 (http://www.altova.com) by Alan Hurdle (FOXTEL Management Pty Ltd) -->
<xs:schema xmlns="http://foxtel.tv/engineering/broadcast/schemas/1/0/ruzzContentRegister" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://foxtel.tv/engineering/broadcast/schemas/1/0/ruzzContentRegister" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  Ruzz Interface root message node  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:element name="RuzzIF">
		<xs:complexType>
			<xs:choice>
				<xs:element name="Request" type="requestMessageType"/>
				<xs:element name="Notification" type="notificationMessageType"/>
				<xs:element name="Response" type="responseMessageType"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  BarcodeRequestType -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:complexType name="BarcodeRequestType">
		<xs:choice>
			<xs:element name="OP56Programme" type="op56ProgrammeType"/>
			<xs:element name="OP56Spot" type="op56SpotType"/>
		</xs:choice>
		<xs:attribute name="type" type="barcodeCommandType" use="required"/>
		<xs:attribute name="key" type="xs:string" use="required"/>
	</xs:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  BarcodeResponseType -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:complexType name="BarcodeResponseType">
		<xs:complexContent>
			<xs:extension base="responseMessageBase">
				<xs:attribute name="type" type="barcodeCommandType" use="required"/>
				<xs:attribute name="valid_request" type="xs:boolean" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  BarcodeCommandType -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:simpleType name="barcodeCommandType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="create"/>
			<xs:enumeration value="delete"/>
			<xs:enumeration value="update"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  Programme root node  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:complexType name="op56ProgrammeType">
		<xs:sequence>
			<xs:element name="Detail">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="EXT_CLIP_UMID" type="xs:string"/>
						<xs:element name="CATALOG_CODE" type="smpteAdministrativeIdentifiersItemID"/>
						<xs:element name="ISAN" type="ISANType" minOccurs="0"/>
						<xs:element name="Title" type="smpteTitlesMainTitle"/>
						<xs:element name="EpisodeNumber" type="smpteTitlesEpisodeNumber"/>
						<xs:element name="Description" type="smpteTitlesSecondaryTitle"/>
						<xs:element name="Annotation" type="smpteTextualDescriptionAbstract" minOccurs="0"/>
						<xs:element name="CreationDate" type="xs:dateTime" minOccurs="0"/>
						<xs:element name="SOM" type="smpteTimecode"/>
						<xs:element name="EOM" type="smpteTimecode" minOccurs="0"/>
						<xs:element name="Duration" type="smpteTimecode"/>
						<xs:element name="SUPPLIER" type="smpteOrganizationName" minOccurs="0"/>
						<xs:element name="CONTRACT_NUMBER" type="smpteSupplyContractNumber" minOccurs="0"/>
						<xs:element name="COPYRIGHT" type="smpteCopyrightOwner"/>
						<xs:element name="MARKET" type="smpteBroadcastChannel" minOccurs="0"/>
						<xs:element name="RightsStartDate" type="xs:dateTime"/>
						<xs:element name="RightsEndDate" type="xs:dateTime"/>
						<xs:element name="CensorshipSystem" type="smpteContentCodingSystem"/>
						<xs:element name="Classification" type="ClassificationType"/>
						<xs:element name="Captioned" type="xs:boolean"/>
						<xs:element name="CaptionType" type="smpteFundementalEssenceCaptionKind" minOccurs="0"/>
						<xs:element name="AspectRatio" type="AspectRatioType"/>
						<xs:element name="Colour" type="ColourType" minOccurs="0"/>
						<xs:element name="AudioType" type="AudioListType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Media">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Segments" maxOccurs="unbounded">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="SegmentListType">
										<xs:attributeGroup ref="mediaAttributesType"/>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  Commercial root node  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:complexType name="op56SpotType">
		<xs:sequence>
			<xs:element name="Detail">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="EXT_CLIP_UMID" type="xs:string"/>
						<xs:element name="KeyNumber" type="smpteTitlesClipNumber"/>
						<xs:element name="CAD_NUMBER" type="smpteAdministrativeIdentifiersItemID"/>
						<xs:element name="Title" type="smpteTitlesMainTitle"/>
						<xs:element name="Product" type="smpteTitlesSecondaryTitle"/>
						<xs:element name="CreationDate" type="xs:dateTime" minOccurs="0"/>
						<xs:element name="SOM" type="smpteTimecode"/>
						<xs:element name="Duration" type="smpteTimecode"/>
						<xs:element name="AGENCY" type="smpteOrganizationName"/>
						<xs:element name="COPYRIGHT" type="smpteCopyrightOwner" minOccurs="0"/>
						<xs:element name="PROD_HOUSE" type="smpteOrganizationName"/>
						<xs:element name="AUDIO_HOUSE" type="smpteOrganizationName" minOccurs="0"/>
						<xs:element name="RightsStartDate" type="xs:dateTime"/>
						<xs:element name="RightsEndDate" type="xs:dateTime"/>
						<xs:element name="Classification" type="ClassificationType"/>
						<xs:element name="Captioned" type="xs:boolean"/>
						<xs:element name="CaptionType" type="smpteFundementalEssenceCaptionKind" minOccurs="0"/>
						<xs:element name="AspectRatio" type="AspectRatioType"/>
						<xs:element name="Colour" type="ColourType" minOccurs="0"/>
						<xs:element name="AudioType" type="AudioListType"/>
						<xs:element name="AFD" type="smpteVerticalParametersAFD" minOccurs="0"/>
					</xs:sequence>
					<xs:attribute name="type" use="required">
						<xs:annotation>
							<xs:documentation>Clip type : trailer, promotion, etc</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="32"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="Media">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Clip">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="ClipType">
										<xs:attributeGroup ref="mediaAttributesType"/>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  transactionIdType -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:simpleType name="transactionIdType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  requestMessageType -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:complexType name="requestMessageType">
		<xs:choice>
			<xs:element name="Barcode" type="BarcodeRequestType"/>
		</xs:choice>
		<xs:attribute name="transaction_id" type="transactionIdType"/>
	</xs:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  notificationMessageType -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:complexType name="notificationMessageType">
		<xs:complexContent>
			<xs:extension base="responseMessageBase">
				<xs:attribute name="transaction_id" type="transactionIdType"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  responseMessageType -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:complexType name="responseMessageType">
		<xs:choice>
			<xs:element name="BarcodeResponse" type="BarcodeResponseType"/>
		</xs:choice>
		<xs:attribute name="transaction_id" type="transactionIdType"/>
	</xs:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  responseMessageBase -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:complexType name="responseMessageBase">
		<xs:sequence>
			<xs:element name="dateTime" type="xs:dateTime"/>
			<xs:sequence>
				<xs:element name="status">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="type">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="SUCCESS"/>
										<xs:enumeration value="FAIL"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="message" type="xs:string"/>
							<xs:element name="description" type="xs:string" minOccurs="0"/>
						</xs:sequence>
						<xs:attribute name="auto_id">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="32"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  mediaAttributesType  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:attributeGroup name="mediaAttributesType">
		<xs:attribute name="auto_id" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="32"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="filename">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="128"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  AspectRatioType  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:simpleType name="AspectRatioType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="4x3"/>
			<xs:enumeration value="16x9"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  ClassificationType  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:simpleType name="ClassificationType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="G"/>
			<xs:enumeration value="PG"/>
			<xs:enumeration value="M"/>
			<xs:enumeration value="MA15+"/>
			<xs:enumeration value="R18+"/>
			<xs:enumeration value="NC"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  ColourType  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:simpleType name="ColourType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="32"/>
			<xs:enumeration value="black and white"/>
			<xs:enumeration value="tinted"/>
			<xs:enumeration value="colourized"/>
			<xs:enumeration value="colour"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  SegmentListType  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:simpleType name="AudioListType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="32"/>
			<xs:enumeration value="mono"/>
			<xs:enumeration value="stereo"/>
			<xs:enumeration value="surround"/>
			<xs:enumeration value="digital"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  SegmentListType  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:complexType name="SegmentListType">
		<xs:sequence>
			<xs:element name="Segment" maxOccurs="99">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="ClipType">
							<xs:attribute name="number" use="required">
								<xs:simpleType>
									<xs:restriction base="xs:positiveInteger">
										<xs:minInclusive value="1"/>
										<xs:maxInclusive value="99"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  ClipType  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:complexType name="ClipType">
		<xs:sequence>
			<xs:element name="Title">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="127"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SOM" type="smpteTimecode"/>
			<xs:element name="EOM" type="smpteTimecode" minOccurs="0"/>
			<xs:element name="Duration" type="smpteTimecode"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  ISANType  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:complexType name="ISANType">
		<xs:attribute name="root" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="([0-9A-F]{4})-([0-9A-F]{4})-([0-9A-F]{4})"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="episode" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="([0-9A-F]{4})"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="version" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="([0-9A-F]{4})-([0-9A-F]{4})"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  smpteExtUMID  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:simpleType name="smpteExtUMID" final="restriction">
		<xs:restriction base="xs:string">
			<xs:pattern value="(0x)([0-9A-F]{128})"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  smpteTimecode  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:simpleType name="smpteTimecode" final="restriction">
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-1][0-9]|[2][0-3]):([0-5][0-9]):([0-5][0-9]):([0-1][0-9]|[2][0-4])"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  smpteCensorshipSystem  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:simpleType name="smpteContentCodingSystem" final="restriction">
		<xs:restriction base="xs:string">
			<xs:maxLength value="31"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  smpteCensorshipSystem  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:simpleType name="smpteBroadcastChannel" final="restriction">
		<xs:restriction base="xs:string">
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  smpteSupplyContractNumber -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:simpleType name="smpteSupplyContractNumber" final="restriction">
		<xs:restriction base="xs:string">
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  smpteOrganizationName -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:simpleType name="smpteOrganizationName" final="restriction">
		<xs:restriction base="xs:string">
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  smpteCopyrightOwner  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:simpleType name="smpteCopyrightOwner" final="restriction">
		<xs:restriction base="xs:string">
			<xs:maxLength value="127"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  smpteTextualDescriptionAbstract  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:simpleType name="smpteTextualDescriptionAbstract" final="restriction">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1024"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  smpteTitlesMainTitle  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:simpleType name="smpteTitlesMainTitle" final="restriction">
		<xs:restriction base="xs:string">
			<xs:maxLength value="127"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  smpteTitlesSecondaryTitle  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:simpleType name="smpteTitlesSecondaryTitle" final="restriction">
		<xs:restriction base="xs:string">
			<xs:maxLength value="127"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  smpteTitlesEpisodeNumber  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:simpleType name="smpteTitlesEpisodeNumber" final="restriction">
		<xs:restriction base="xs:string">
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  smpteTitlesClipNumber  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:simpleType name="smpteTitlesClipNumber" final="restriction">
		<xs:restriction base="xs:string">
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  smpteAdministrativeIdentifiersItemID  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:simpleType name="smpteAdministrativeIdentifiersItemID" final="restriction">
		<xs:restriction base="xs:string">
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  smpteFundementalEssenceCaptionKind  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:simpleType name="smpteFundementalEssenceCaptionKind" final="restriction">
		<xs:restriction base="xs:string">
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  smpteFundementalEssenceCaptionKind  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:simpleType name="smpteVerticalParametersAFD" final="restriction">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="15"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
